:8080 {
    basicauth * {
        admin JDJhJDEwJDhPZzNWMkZoeXlxVHgyZzNmcmY4ZC5GM1prSktvODlLN05jOUozamNvbGR3YnhvWnRubjhl
    }
    
    route /elasticsearch/* {
        uri strip_prefix /elasticsearch
        reverse_proxy  es01:9200 
    }

    route /cerebro/* {
        uri strip_prefix /cerebro
        reverse_proxy cerebro01:9000 
    }

    route * {
        reverse_proxy kibana01:5601     
    }    
}
:8081 {
    @elasticsearch_get {
        method GET
        path /elasticsearch/* 
    }

    route @elasticsearch_get {
        uri strip_prefix /elasticsearch
        reverse_proxy  es01:9200 
    }
    route /portainer/* {
        uri strip_prefix /portainer
        reverse_proxy log-monitor-portainer:9000
    }

    root * /www
    file_server
}

